.buttons{
    border: 4px double black;
    background: rgba(4, 37, 146, 0.411); 
    padding: 10px; 
    width: min-content;
    height:min-content;
    margin-left: auto;
    margin-right: auto;
}

.buttons.like{
    color: cornflowerblue;
}

.buttons.hate{
    color: darkgreen;
}